  <div class="container">
    <div class="chatContainer">
      <div id="chat" class="chat">
      </div>

      <div class="panel">
        <input type="text" id="input">
        <button id="button">></button>
        <button id="clear">clear</button>
      </div>
    </div>
  </div>